.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: #34282c;
  color: white;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
}

table,
tr {
  border: 1px solid black;
  margin-top: -10px;
}

.h2 {
  text-align: left;
  margin-top: 100px;
}

.todoLayout {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.userDetailsLayout {
  margin: 100px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
}
.loader {
  margin: 300px;
}
